.header{
    height: 70px;
    /* background-color: rgb(34, 34, 34); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search_bar{
    background-color: white;
    padding:8px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    border: none;
    width: 100%;
    flex: 0.4;
    min-width: 70px;
}
.search{
    width: 100%;
}
.search_bar > input{
    border: none;
}
.search_icon{
    margin-right: 5px;
    color: green;
}

.profile_info{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 0px 5px;
    border-radius: 100px;
    flex: 0.16;
    width: 100%;
    margin-right: 10px;
    height: 30px;
    min-width: fit-content;

}
.home{
    margin-right: 20px;
    margin-left: auto;
    
}
.profile_info > img{
    object-fit: contain;
    width: 30px;
    border-radius: 50%;
    padding: 0 5px;
}
.profile_info >p{
    color: white;
    font-weight: bold;
    margin-top: 13px;
    font-size: 0.9rem;
}